<?xml version="1.0" encoding="UTF-8"?>
<Menu>
	<JMenu>
		<Text>Archivo</Text>
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Sincronizar</Text>
			<Clase>com.kazak.smi.admin.control.Sync</Clase>
			<Metodo>process</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JSeparator/>
		<JMenuItem>
			<Mnemonic>a</Mnemonic>
			<Text>Salir</Text>
			<Clase>com.kazak.smi.admin.Run</Clase>
			<Metodo>exit</Metodo>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Usuarios</Text>
		<Mnemonic>U</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Clase>com.kazak.smi.admin.gui.UsersManager</Clase>
			<Metodo>search</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Clase>com.kazak.smi.admin.gui.UsersManager</Clase>
			<Metodo>add</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Clase>com.kazak.smi.admin.gui.UsersManager</Clase>
			<Metodo>edit</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Clase>com.kazak.smi.admin.gui.UsersManager</Clase>
			<Metodo>delete</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>U</Mnemonic>
			<Text>Listar Usuarios</Text>
			<Clase>com.kazak.smi.admin.gui.UsersList</Clase>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Grupos</Text>
		<Mnemonic>G</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Clase>com.kazak.smi.admin.gui.GroupsManager</Clase>
			<Metodo>search</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Clase>com.kazak.smi.admin.gui.GroupsManager</Clase>
			<Metodo>add</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Clase>com.kazak.smi.admin.gui.GroupsManager</Clase>
			<Metodo>edit</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Clase>com.kazak.smi.admin.gui.GroupsManager</Clase>
			<Metodo>delete</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Puntos de Colocación</Text>
		<Mnemonic>P</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Clase>com.kazak.smi.admin.gui.WorkStationsManager</Clase>
			<Metodo>search</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Clase>com.kazak.smi.admin.gui.WorkStationsManager</Clase>
			<Metodo>add</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Clase>com.kazak.smi.admin.gui.WorkStationsManager</Clase>
			<Metodo>edit</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Clase>com.kazak.smi.admin.gui.WorkStationsManager</Clase>
			<Metodo>delete</Metodo>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Registros</Text>
		<Mnemonic>R</Mnemonic>
		<JMenuItem>
			<Mnemonic>V</Mnemonic>
			<Text>Ver Mensajes</Text>
			<Clase>com.kazak.smi.admin.gui.LogMessage</Clase>
			<Metodo>display</Metodo>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Activo />
			<Acelerator></Acelerator>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar Mensaje</Text>
			<Clase>com.kazak.smi.admin.gui.MessageSercher</Clase>
			<Metodo>search</Metodo>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Ver mensajes de control</Text>
			<Clase>com.kazak.smi.admin.gui.ControlMessageReport</Clase>
			<Metodo>init</Metodo>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Ver Registro del servidor</Text>
			<Clase>com.kazak.smi.admin.control.LogServerViewer</Clase>
			<Metodo>start</Metodo>
			<UserLevel>2</UserLevel>
		</JMenuItem>
	</JMenu>
</Menu>
