<?xml version="1.0" encoding="UTF-8"?>
<Menu>
	<JMenu>
		<Text>Archivo</Text>
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Sincronizar</Text>
			<Class>com.kazak.smi.admin.control.SyncManager</Class>
			<Method>startSync</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JSeparator/>
		<JMenuItem>
			<Mnemonic>a</Mnemonic>
			<Text>Salir</Text>
			<Class>com.kazak.smi.admin.Run</Class>
			<Method>exit</Method>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Usuarios</Text>
		<Mnemonic>U</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Class>com.kazak.smi.admin.gui.UsersManager</Class>
			<Method>search</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Class>com.kazak.smi.admin.gui.UsersManager</Class>
			<Method>add</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Class>com.kazak.smi.admin.gui.UsersManager</Class>
			<Method>edit</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Class>com.kazak.smi.admin.gui.UsersManager</Class>
			<Method>delete</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>U</Mnemonic>
			<Text>Listar Usuarios</Text>
			<Class>com.kazak.smi.admin.gui.UsersList</Class>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Grupos</Text>
		<Mnemonic>G</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Class>com.kazak.smi.admin.gui.GroupsManager</Class>
			<Method>search</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Class>com.kazak.smi.admin.gui.GroupsManager</Class>
			<Method>add</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Class>com.kazak.smi.admin.gui.GroupsManager</Class>
			<Method>edit</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Class>com.kazak.smi.admin.gui.GroupsManager</Class>
			<Method>delete</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Puntos de Colocación</Text>
		<Mnemonic>P</Mnemonic>
		<JMenuItem>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar</Text>
			<Class>com.kazak.smi.admin.gui.WorkStationsManager</Class>
			<Method>search</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>A</Mnemonic>
			<Text>Adicionar</Text>
			<Class>com.kazak.smi.admin.gui.WorkStationsManager</Class>
			<Method>add</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>E</Mnemonic>
			<Text>Editar</Text>
			<Class>com.kazak.smi.admin.gui.WorkStationsManager</Class>
			<Method>edit</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
		<JMenuItem>
			<Mnemonic>l</Mnemonic>
			<Text>Eliminar</Text>
			<Class>com.kazak.smi.admin.gui.WorkStationsManager</Class>
			<Method>delete</Method>
			<UserLevel>1</UserLevel>
		</JMenuItem>
	</JMenu>
	<JMenu>
		<Text>Registros</Text>
		<Mnemonic>R</Mnemonic>
		<JMenuItem>
			<Mnemonic>V</Mnemonic>
			<Text>Ver Mensajes</Text>
			<Class>com.kazak.smi.admin.gui.LogMessage</Class>
			<Method>display</Method>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Activo />
			<Acelerator></Acelerator>
			<Mnemonic>B</Mnemonic>
			<Text>Buscar Mensaje</Text>
			<Class>com.kazak.smi.admin.gui.MessageSearcher</Class>
			<Method>search</Method>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Ver mensajes de control</Text>
			<Class>com.kazak.smi.admin.gui.ControlMessageReport</Class>
			<Method>init</Method>
			<UserLevel>2</UserLevel>
		</JMenuItem>
		<JSeparator />
		<JMenuItem>
			<Mnemonic>S</Mnemonic>
			<Text>Ver Registro del servidor</Text>
			<Class>com.kazak.smi.admin.control.LogServerViewer</Class>
			<Method>start</Method>
			<UserLevel>2</UserLevel>
		</JMenuItem>
                <JSeparator />
                <JMenuItem>
                        <Mnemonic>U</Mnemonic>
                        <Text>Listar Usuarios</Text>
                        <Class>com.kazak.smi.admin.gui.UsersList</Class>
                        <UserLevel>2</UserLevel>
                </JMenuItem>
	</JMenu>
</Menu>
